<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bonificacion De Vendedores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div class="container mt-5">
        <h1>Bonificación del Vendedor</h1>
        <form action="/venta/calcularBonificacion" method="post">
            <div class="form-group">
                <label for="monto">Monto de venta alcanzado:</label>
                <input type="number" class="form-control" id="monto" name="monto">
            </div>
            <button type="submit" class="btn btn-primary">Calcular Bonificación</button>
        </form>
    </div>
</head>
<body>

</body>
</html>